body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 50px;
  padding-top: 1em;
  & > .main-content {
    min-height: 400px;
  }
}
a {
  color: #00B7FF
}
td > span {
  color:  red
}
.footer {
  margin-top: 1em;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;

  .container {
    padding-right: 1em;
    padding-left: 1em;

    .text-muted {
      margin: 20px 0;
      color: #bbb;
    }
  }
}
.tit{
    margin-top: 3em; 
    margin-left: 2em;
}
.con{
   margin-left: 10em; 
}

.jumbotron {
  margin-top: -1em;
  background: url('/images/유럽 (5).JPG') no-repeat left top;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 50em;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}