extends layout

block hero-unit
  .jumbotron
    .container
      .carousel.slide(id="myCarousel", data-ride="carousel" data-interval='false')
      <!-- Indicators -->
      ol.carousel-indicators
        li(data-target="#myCarousel", data-slide-to="0", class="active")
        li(data-target="#myCarousel", data-slide-to="1")
        li(data-target="#myCarousel", data-slide-to="2")
      .carousel-inner(role="listbox")
        .item.active
          img(src="/images/유럽 (5).JPG", alt="First slide")
          .carousel-caption
            h1Example headline.
            p Note: If you're viewing this page via a code=file:URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
            p
              a.btn.btn-lg.btn-primary(href="#", role="button") Sign up today
        .item
          img(src="/images/유럽 (1).JPG", alt="Second slide")
          .carousel-caption
            h1 Another example headline.
            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-lg.btn-primary(href="#",role="button") Learn more
        .item
          img(src="/images/유럽 (1).JPG",alt="Third slide")
          .carousel-caption
            h1 One more for good measure.
            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-lg.btn-primary(href="#", role="button") Browse gallery
      //- a.left.carousel-control(href="#myCarousel", role="button", data-slide="prev")
      //-   span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
      //-   span.sr-only Previous
      //- a.right.carousel-control(href="#myCarousel", role="button", data-slide="next")
      //-   span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
      //-   span.sr-only Next
          