.form-signin {
  width: 320px;
  height: 300px;
  padding: 0;
  top: 10em;
  left: 50%;
  position: absolute;
  margin: 0 0 0 -160px; }
  .form-signin .checkbox {
    margin-bottom: 10px;
    font-weight: normal; }
  .form-signin .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px; }
  .form-signin .form-control:focus {
    z-index: 2; }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 50px;
  padding-top: 1em; }
  body > .main-content {
    min-height: 400px; }

a {
  color: #00B7FF; }

#del {
  margin-left: 1em; }

p > span {
  color: red; }

.footer {
  margin-top: 1em;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5; }
  .footer .container {
    padding-right: 1em;
    padding-left: 1em; }
    .footer .container .text-muted {
      margin: 20px 0;
      color: #bbb; }

.tit {
  margin-top: 3em;
  margin-left: 2em; }

.jumbotron {
  margin-top: -1em;
  background: url("https://source.unsplash.com/random") no-repeat left top;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 30em;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }

.slideshow {
  width: 1000px;
  height: 600px;
  position: relative;
  padding: 0;
  margin: 0 auto;
  overflow: hidden; }

.slideshow img {
  position: absolute;
  opacity: 0;
  transition: all 1s ease; }

.slideshow img.active {
  opacity: 1.0; }

.indicator {
  width: 100%;
  margin: 10px;
  text-align: center; }

.indicator ul {
  list-style: none;
  margin: 0 auto;
  padding: 0; }

.indicator ul li {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 8px;
  border: 2px solid #fff; }

.indicator ul li.active {
  background-color: #fff; }

.backimg {
  background: #888; }
